
.signin-wrapper{
    margin-bottom: 100px;
}
.signin--content{
    margin-top: 40px;
}
.signin--content p{
    font-size: 1.5rem;
}

.form__signin{
    margin: 50px auto 0px;
    width: 580px;

}
.signin-type{
    margin-bottom: 20px;
}

.signin-type input{
    border: 1px solid rgb(209, 209, 209);
    font-size: 1.5rem;
    padding: 10px;
    height: 50px;
    width: 350px;
}

.signin-type input:focus{
    border: 3px solid #d9e6ff;
}

.signin-type label{
    width: 150px;
    margin-right: 10px;
    margin-top: 10px;
}

.button-sumit{
    color: white;
    background-color: #357AFF;
    padding: 4px 10px;
    border: none;
}
.button-sumit:hover{
    opacity: 0.5;
}